@{
    ViewBag.Title = "PET SHOP";

    Layout = "~/Views/Shared/_LayoutClient2.cshtml";
}
@using CHBHTH.Models;


<br />
<header class="bg-body py-0">
    <center>
        <div class="row">
            <div class="col-md-16">
                <img src="" width="95%" /> 
            </div>
        </div>
    </center>
</header>
<br />
<div class="spnoibat">
    <center>
        <div class="row">
            <div class="col-md-4">
                <img src="" class="img-responsive" alt="" width="80%" />
            </div>
            <div class="col-md-4">
                <img src="" class="img-responsive" alt="" width="80%" />
            </div>
            <div class="col-md-4">
                <img src="" class="img-responsive" alt="" width="80%" />
            </div>
        </div>
    </center>
</div> <br />

    @Html.Action("sanpham3partial", "sanpham")

 <div>
    <center>
        <img class="img-responsive" src="" width="80%" />
    </center>
</div> <br />

 


